<div class="face-snap-card" [ngClass]="{snapped: butonText==='ohhh'}">
    <p>{{ 4346256545555557.653436 | number }}</p>
    <h1>{{ faceSnap.title | titlecase}}</h1>
    <p>mis en ligne {{ faceSnap.createdDate | date:  'le d MMMM yyyy'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="title">
    <p>{{faceSnap.description}} </p>
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}} </p>
    <p>
        <button (click)="onClickSnaps()">{{butonText}} </button>
        <span [ngStyle]="{color: 'rgb(0, '+faceSnap.snaps+', 0)'}">{{faceSnap.snaps}}</span>
    </p>
</div>
